<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="Tags Tags_genres" th:fragment="genres_list">
    <div class="Tags Tags_embed" th:each="genre : ${genres}">
        <div class="Tags-title">
            <div class="Tag">
                <a th:href="@{|/genres/${genre.slug}|}" th:text="${genre.currentName}"></a>
                <span class="undefined-amount" th:text="${genre.totalBooksCount}"></span>
            </div>
        </div>


        <th:block th:each="child : ${genre.getChildren()}">
            <div class="Tag"><a href="/genres/slug.html" th:text="${child.currentName}" th:if="${child.getChildren() == null}"></a>
                <span class="undefined-amount" th:text="${child.totalBooksCount}"></span>
            </div>

            <div class="Tags" th:if="${child.getChildren() != null}">
                <div class="Tags-title">
                    <div class="Tag">
                        <a href="/genres/slug.html" th:text="${child.currentName}"></a>
                        <span class="undefined-amount" th:text="${child.totalBooksCount}"></span>
                    </div>
                </div>

                <div class="Tag" th:each="subChild : ${child.getChildren()}">
                    <th:block>
                        <a href="/genres/slug.html" th:text="${subChild.currentName}"></a>
                        <span class="undefined-amount" th:text="${subChild.totalBooksCount}"></span>
                    </th:block>
                </div>
            </div>

            <br/>
        </th:block>
    </div><br/>
</div>

</body>
</html>