<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<header>
    <script type="text/javascript" th:fragment="htmlScriptFragment">
        $(document).ready(function() {
            $("#locales").change(function() {
                let selectedOption = $("#locales").val();
                if (selectedOption != ' ') {
                    window.location.replace('?lang='+selectedOption);
                }
            });
        });
    </script>
    <script type="text/javascript" th:fragment="menuScriptFragment">
        $(document).ready(function() {
            $('.Header-menu .menu-item').filter(function(){
                var page = $(this).children('a').attr('href').replaceAll("/", "");
                var url = document.URL.split('/')[3]
                return (page === url);
            }).addClass('menu-item_ACTIVE');
        });
    </script>
</header>